.index-page {
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7aa;
}

/* HEADER STYLE */

.header {
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    filter: invert(1) !important;
    box-shadow: 0px 0px 2px #f7f7f777, 0px 0px 10px #f7f7f777;
    z-index: 1000;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    color: #f7f7f7;
}

.header-container .header-logo {
    font-family: 'Kaushan Script', cursive !important;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in-out;
    transition-property: font-size;
}

.header-container .header-logo:hover {
    font-size: 1.7rem;
}

.header-container .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header-container .header-nav .header-nav-link {
    margin: 5px;
    padding: 5px 10px;
    opacity: .7;
    letter-spacing: 0px;
    word-spacing: 2px;
    border: 2px solid #f0f0f044;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    transition-property: opacity;
    user-select: none;

    color: inherit !important;
    text-decoration: none;
}

.header-container .header-nav .header-nav-link:hover {
    /* opacity: 1; */
    border: 2px solid #f0f0f099;
}

/* SHOWCASE STYLE */

.showcase {
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #181818;
    text-align: center;
}

.showcase .showcase-slogan {
    font-size: 2rem;
    font-weight: 900;
}

.showcase .showcase-slogan span {
    color: #bd3636;
    font-style: italic;
}

.showcase .showcase-description {
    margin: 20px;
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 40;
}

/* LOADER */

.loader {
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .loader-square {
    width: 50px;
    height: 50px;
    border: 5px solid #bd3636;
    border-right: none;
    border-left: none;
    border-radius: 50%;
    position: relative;
    animation: loaderAnim 1500ms ease-in-out infinite alternate-reverse;
}

.loader .loader-square .dot-1, .loader .loader-square .dot-2 {
    position: absolute;
    top: 4px;
    left: 50%;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    transform: translateX(-50%);
    background-color: #bd3636;
}

.loader .loader-square .dot-2 {
    top: unset;
    bottom: 4px;
}

@keyframes loaderAnim {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}

/* Showcase action buttons */

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.action-buttons .action-button {
    background-color: #18181899;
    color: #f7f7f7;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 7px 20px;
    border: 3px solid #181818;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: .85;
}

.action-buttons .action-button.signup {
    background-color: #f7f7f799;
    color: #181818;
}

.action-buttons .action-button:hover {
    opacity: 1;
}

.action-buttons .action-button:focus {
    transform: scale(1.03);
}

/* Background */

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100000;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}