.ajouter-filiere-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000ee;
    top: 0;
    left: 0;
}

.modal-close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 4rem;
    opacity: .5;
    color: #f7f7f7;
    cursor: pointer;
    user-select: none;
    transform: rotate(45deg);
    z-index: 100000;
    transition: all 200ms ease-in-out;
    transition-property: opacity;
}

.modal-close-button:hover {
    opacity: .9;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #f7f7f7;
    padding: 15px 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #f7f7f744, 0px 0px 10px #f7f7f744;
}

.form-container .form-title {
    color: #181818;
    align-self: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .form-title .icon {
    font-size: 2rem;
    margin-right: 5px;
    color: #bd3636;
    opacity: .8;
}


.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 5px;
}

.form-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .form-label {
    width: fit-content;
    color: #181818;
    margin-bottom: 3px;
    font-size: .8rem;
    opacity: .8;
}

.form-container .form-input {
    padding: 5px;    
    width: 100%;
    margin-bottom: 15px;
    color: #181818;
    outline: none;
    border: 2px solid #181818;
    font-size: .8rem;
    resize: none;
}

.form-container .form-input.submit {
    background-color: #bd3636cc;
    color: #f9f9f9;
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    opacity: .9;
    transition: all 200ms ease-in-out;
    transition-property: opacity;
}

.form-container .form-input.submit:hover {
    opacity: 1;
}

.form-container .form-input.submit:active {
    transform: scale(1.01);
}