.home-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-top: 70px;
    background-color: #f7f7f7;
    height: 100%;
    min-height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.home-title {
    padding: 30px;
    word-spacing: 1px;
}

.categories-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.categories-container .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin-bottom: 80px;
}

.categories-container .category .category-name {
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-left: 50px;
    position: relative;
}

.categories-container .category .category-name::before, .categories-container .category .category-name::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #181818;
}

.categories-container .category .category-name::before {
    left: -30px;
}

.categories-container .category .category-offers {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.categories-container .category .category-offers .no-offers-message {
    /* border: 2px solid #181818; */
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
}

.categories-container .category .category-offers .offer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 2px #18181855, 0px 0px 6px #18181855;
    padding: 20px;
    border-radius: 3px;
    transition: all 100ms ease-in-out;
    transition-property: transform, box-shadow;
    cursor: pointer;
    user-select: none;
}

.categories-container .category .category-offers .offer-item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 2px #18181888, 0px 0px 6px #18181888;
}

.categories-container .category .category-offers .offer-item .offer-title {
    font-size: 1.2rem;
    margin: 5px 0px 2px 0px;
}

.categories-container .category .category-offers .offer-item .company-name {
    font-size: .9rem;
    font-weight: 500;
    opacity: .7;
    margin-bottom: 15px;
}

.categories-container .category .category-offers .offer-item .offer-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.categories-container .category .category-offers .offer-item .published-ago {
    font-size: .8rem;
    opacity: .7;
    align-self: flex-end;
}