.subject-item-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000ee;
    top: 0;
    left: 0;
}

.modal-close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 4rem;
    opacity: .5;
    color: #f7f7f7;
    cursor: pointer;
    user-select: none;
    transform: rotate(45deg);
    z-index: 100000;
    transition: all 200ms ease-in-out;
    transition-property: opacity;
}

.modal-close-button:hover {
    opacity: .9;
}

.subject-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 700px;
    background-color: #f7f7f7;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #f7f7f744, 0px 0px 10px #f7f7f744;
}

.subject-container .subject-title {
    color: #181818;
    align-self: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject-container .subject-title .icon {
    font-size: 2rem;
    margin-right: 5px;
    color: #bd3636;
    opacity: .8;
}

.subject-container .subject-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.subject-container .subject-infos .stats-item {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px #18181855, 0px 0px 6px #18181855;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.subject-container .subject-infos .stats-item:hover {
    background-color: #18181804;
}

.subject-container .subject-infos .stats-item .stats-label {
    opacity: .8;
    font-size: .8rem;
    margin-bottom: 5px;
}

.subject-container .subject-infos .stats-item .stats-data {
    opacity: 1;
    font-size: 1rem;
    font-weight: 900;
}

/* SESSIONS List */

.subject-container .subject-sessions-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content !important;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    padding-top: 150px;
}

.subject-container .subject-sessions-list::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.subject-container .subject-sessions-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.subject-container .subject-sessions-list::-webkit-scrollbar-thumb {
    background-color: #18181833;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.subject-container .subject-sessions-list .list-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    opacity: .8;
}

.subject-container .subject-sessions-list .list-header span {
    width: 100%;
    text-align: center;
    font-size: .9rem;
}

.subject-container .subject-sessions-list .list-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subject-container .subject-sessions-list .list-data .list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 5px 0px;
    box-shadow: 0px 0px 2px #18181855, 0px 0px 6px #18181855;
    border-radius: 2px;
}

.subject-container .subject-sessions-list .list-data .list-item > * {
    min-width: fit-content;
    font-size: .9rem;
}

.subject-container .subject-sessions-list .list-data .list-item .salle {
    width: 100%;
}

.subject-container .subject-sessions-list .list-data .list-item .date {
    font-size: 1rem;
    width: 100%;
}

.subject-container .subject-sessions-list .list-data .list-item .submitted-at {
    font-size: 1rem;
    opacity: .8;
}

.subject-container .subject-sessions-list .list-data .list-item .view-details {
    padding: 5px 10px;
    border: 2px solid #181818;
    background-color: #18181822;
    opacity: .8;
}

.subject-container .subject-sessions-list .list-data .list-item .view-details .icon {
    margin-right: 5px;
}